<div class="navbar-wagon">
  <%= link_to(:back) do %>
  <i class="fas fa-arrow-left fa-2x grey hvr-backward arrow" aria-hidden="true"></i>
  <% end %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
    <%= link_to(root_path) do %>
  <i class="fas fas fa-home fa-2x grey hvr-backward" aria-hidden="true"></i>
  <% end %>
  </div>
</div>
