<div class="navbar-wagon">
  <div style="font-size: 15px;">
  <%= link_to hikes_path do %>
  <i class="fas fa-arrow-left grey hvr-backward arrow" aria-hidden="true" style="color:#1B4057"></i>
  <% end %>
</div>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div style="font-size: 15px;">
    <%= link_to(root_path) do %>
  <i class="fas fas fa-home fa-2x grey hvr-backward" aria-hidden="true" style="color:#1B4057"></i>
  <% end %>
</div>
  </div>
</div>
