<h1>Hikes</h1>

<!-- <div id="map" data-markers= <%= @markers.to_json %>> -->

<div id="map" style="width: 100%; height: 600px;" data-markers= <%= @markers.to_json %>>
  data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiZ3JhY2VpbmRpYSIsImEiOiJjanJ1cmJ2ZGoxNjZtNDVtOTJoYWRncmZxIn0.maQAEsx9mJntzxmM2tHgxA'] %>">
</div>
