
<div class="container-home">
  <div class="banner-home zoominheader">
  <h1 class="hideme">Hike Away</h1>
  <h2 class="hideme">YOUR MOUNTAIN GUIDE</h2>
</div>

  <div id="home-form" class="search form-inline">
    <%= form_tag hikes_path, method: :get, autocomplete: "off" do %>
    <%=image_tag("location.svg", class: "location-icon") %>
    <%= text_field_tag( :city, params[:city], class: "search-home", placeholder: "City")%>
  </div>
    <div class="btn-home">
      <%= submit_tag("Explore", class: "explore-btn-home")  %>
      <% end %>
    </div>
</div>
