<h1>Pages#home</h1>
      <div class="search form-inline">
        <%= form_tag hikes_path, method: :get do %>
        <%= label :city, "Search hikes near : " %>
        <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
        <% end %>
