
<div class="modal-content modal-login">
  <h2><span class="login_title">Log in</span></h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= text_field_tag( :email, params[:email], class: "search-email", placeholder: "Email")%>
        <%= text_field_tag( :password, params[:password], class: "search-password", placeholder: "Password")%>
      </div>
  <div class="form-actions">
    <%= f.button :submit, "LOG IN" %>
  </div>
<% end %>
</div>

