.container-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 35px;
  margin-bottom: 30px;
}

body {
  background-color: white;
  position: relative;
}
.box-blue{
  width:60vw;
  height:15vh;
  background-color: #A9AEB3;
  right: 0;
  position: absolute;
  top: 10px;
  z-index: -1;
}

// .title-row {
//   position: relative;
// }
.show-photo {
  width: 100vw;
  box-shadow: 2px 4px 9px rgba(32, 36, 39, 0.56);
}

.show-name {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  top: 15px;
  font-size: 24px;
  text-indent: 8px;
  color: #305973;
  z-index: 5;
  position: absolute;
  right: 0;
  margin-right: 20px;

}

.show-flaticon{
  height: 30px;
  font-weight: bold;
  padding-right: 10px;
}

.show-category {
  padding: 15px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 25px;
  color: #1B4057;
  h4 {
    font-size: 22px;
  }
  p {
  text-decoration: underline #EF7E56;
  }
}

.show-icon {
  display: flex;
  justify-content: flex-end;
}

.show-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 20px;
  color: #333333;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 18px;
   text-align: justify;
  text-justify: inter-word;
  margin-bottom: 15px;
  padding: 7px;
}

.what-bring-btn {
  color: #1B4057;
  border-style: solid;
  border-color: #c4cbd1;
  border-radius: 10px;
  border-width: 2px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 47%;
  background-color: transparent;
  padding: 9px;
  letter-spacing: 0.7px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.what-bring-btn:hover {
  border-color: #EF7E56;
  color: #EF7E56;
}

.what-bring-btn-review:hover {
  border-color: #EF7E56;
  color: #EF7E56;
}

.what-bring-btn-review{
  padding: 10px;
  color: #1B4057;
  border-style: solid;
  border-color: #1B4057;
  border-width: 2px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 125px;
  height: 42px;
  background-color: transparent;
  margin-left: 13px;
}

.app-container {
  top: 70px;
  width: 100vw;
  position: relative;
}

.icon-left{
  padding-left: 10px;
}

.title-row{
  width: 100%;
}

.hike-icons {
  height: 45px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.show-dude {
    text-align:center;
  display:block;
  margin: 0 auto;
}

.showrow {
  margin: 0 auto;
  padding: 10px;
}

.showrow p {
  color: #cccccc;
  font-size: 15px;
  text-align: center;
}

.hike-icons {
  margin: 0 auto;
}

.centerrr {
  display: flex;
  justify-content: center;
  line-height: 2.42857;
}

.modal-dialog{
  margin: 0px !important;
}

.center-modal-review {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
