.container-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 40px;
  margin-bottom: 20px;
}

body {
  background-color: white;
  position: relative;
}
.box-blue{
  width:60vw;
  height:15vh;
  background-color: #A9AEB3;
  right: 0;
  position: absolute;
  top: 10px;
  z-index: -1;
}

// .title-row {
//   position: relative;
// }
.show-photo {
  width: 100vw;
  box-shadow: 2px 4px 9px rgba(32, 36, 39, 0.56);
}

.show-name {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  top: 15px;
  font-size: 24px;
  text-indent: 8px;
  color: #305973;
  z-index: 5;
  position: absolute;
  right: 0;
  margin-right: 20px;

}

.show-flaticon{
  height: 20px;
  font-weight: bold;
  padding-right: 10px;
}

.show-category {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 22px;
  color: #1B4057;
}

.show-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.show-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 22px;
  color: #696969;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 18px;
}

.what-bring-btn {
  color: #1B4057;
  border-style: solid;
  border-color: #1B4057;
  border-radius: 10px;
  border-width: 2px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 125px;
  height: 42px;
  background-color: transparent;
}

.what-bring-btn:hover {
  border-color: #EF7E56;
  color: #EF7E56;
}

.what-bring-btn-review:hover {
  border-color: #EF7E56;
  color: #EF7E56;
}

.what-bring-btn-review{
  padding: 10px;
  color: #1B4057;
  border-style: solid;
  border-color: #1B4057;
  border-width: 2px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  width: 125px;
  height: 42px;
  background-color: transparent;
  margin-left: 13px;
}

.app-container {
  top: 70px;
  width: 100vw;
  position: relative;
}

.icon-left{
  padding-left: 10px;
}

.title-row{
  width: 100%;
}

