.profile-container {
  height: 45vh;
  background: #A9AEB3;
  display: flex;
  justify-content: center;
  position: relative;

}

.profile-pic {
  border-radius: 50%;
  margin-top: 70px;
}

.card-block p {
  width: 99px;
  height: 36px;
  background: rgba(239, 126, 86, 0.81);
  font-family: Playfair Display;
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
}

.card-block {
  position: absolute;
  top: 275px;
  right: 50px;
}

.favourite-section h1 {
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;
text-align: center;
text-indent: 8px;
color: #305973;
display: flex;
justify-content: center;
}

.hike-name-profile {
    width: 200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color: #3F4548;
}

.hike-name-profile:hover {
    color: #EF7E56;
}

.scroll-pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border-top: none;
}

.profile-pictures-bottom {
  justify-content: flex-end;
  color: white;
  background-color: rgba(black, 0.5);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  line-height: normal;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;

  h6 {
    font-size: 18px;
  }

  h5 {
    font-size: 22px;
    margin-top: -5.5px !important;
    margin-bottom: 12.5px !important;
  }
}

.trash-btn {
  margin: 0 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black !important;
  color: white !important;
}
.trash {
  position: relative;
}

.profile-pictures {
  background-color: white;
  align-items: center;
  height: 60px;
  padding: 5px;
}

.profile-pictures h6 {
  font-size: 22px;
}

.fa-trash-alt:before {
  color: white;
}

.full.hide-scroll h1 {
  font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #305973;
    margin-left: 10px;
    margin-bottom: 30px;
}

