:root {
  --gutter: 20px;
  --gutterhss: 120px;
  @media (max-width: 600px) {
     --gutterhss: 70px;
  }

}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 1 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  // grid-template-columns: 10px repeat(99, calc(100% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
-ms-overflow-style: none;
overflow: -moz-scrollbars-none;
}

.hs::-webkit-scrollbar {
  display: none;
}


.hs:before,
.hs:after {
  content: '';
}

/* Hide scrollbar */
.hide-scroll {
  overflow-y: hidden;
  margin-bottom: calc(-.1 * var(--gutter));
}


/* Demo styles */


body {
  display: grid;

}

ul {
  list-style: none;
  padding: 0;
}

.app {
  overflow-y: scroll;
}

.hs > li, .item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 1 * 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slide-show {
  overflow: scroll;
  max-width: 100vw;
}










/* REVIEWS SCROLL */


.hss > li, .item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hss {
  display: grid;
  grid-gap: calc(var(--gutter) / 6);
  // grid-template-columns: 10px auto auto 10px;
  // grid-template-columns: 10px repeat(99, calc(100% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
-ms-overflow-style: none;
overflow: -moz-scrollbars-none;
}

.hss::-webkit-scrollbar {
  display: none;
}

.hss:before,
.hss:after {
  content: '';
}

.scroll-review {
  padding-left: none !important;
  padding-right: none !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw !important;
}




/* PROFILE SCROLL */

.hsss > li, .item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hsss {
  display: grid;
  grid-gap: calc(var(--gutter) / 5);
  // grid-template-columns: 10px auto auto 10px;
  // grid-template-columns: 10px repeat(99, calc(90% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
-ms-overflow-style: none;
overflow: -moz-scrollbars-none;
}

.hsss::-webkit-scrollbar {
  display: none;
}

.hsss:before,
.hsss:after {
  content: '';
}


