/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-top: 75px;
  margin-left: 5%;
  margin-right: 5%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #cccccc;
}

.tab button:hover {
    color: #EF7E56;
  }

/* Create an active/current tablink class */
.tab button.active {
  color: #EF7E56;
  border-bottom: 2px solid #EF7E56;
}

/* Style the tab content */
.tabcontent {
  display: none;

}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.icon-div {
  display: flex;
  justify-content: space-evenly;
      bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    align-items: center;
    background-color: #ec885a;
}

.review-btn:hover {
    color: #EF7E56;
  }

.tab-container {
  padding: 23px;
}

.review-btn {
  color: #A9A9A9;
    width: 100%;
    /* background-color: #21415c; */
    text-align: center;
    /* height: 40px; */
    color: white;
    font-size: 30px;
}

.btn-left-show {
      border-left: 1px solid white;
}
