.modal-content {
  border-style: solid;
  border-width: 20px;
  border-color: #DED5C4;

}

.modal-style {
  height: 180vh;
}


.modal-title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  margin-top: 64px;
  margin-left: 19px;
  margin-bottom: 51px;
}

.what-to-bring {
  margin-left: 28px;
  margin-bottom: 40px;
}

.input {
  font-family: Lato;
font-style: normal;
font-weight: normal;
line-height: normal;
margin-bottom: 9px;
}

.progress-bar {

}
