.zoom{
  overflow: hidden;
  padding-bottom: 55%;
  padding-top: 40px;
}
.zoom img{
  position: fixed;
  left: 50%;
  max-width: 200%;
  width: 100%;
  transform: translateX(-50%);
}
  .zoom{
    overflow: hidden;
    padding-bottom: 130%;
  }

main{
  position: relative;
  background: #ffffff;
}
