<h1>Reviews#new</h1>

    <div class="form">
      <%= simple_form_for @review do |f| %>
        <%= f.input :stars, :as => "number" %>
        <%= f.input :content, class: 'form-control' %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
